{% extends 'base.html' %}
{% load static %}
 {% block title %}doctors list{% endblock %}    
        {% block content %}

        <br><br>
        
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container-fluid">
  
          <div class="row">
            <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
              <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
            </div>
  
            <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
              <h3>OUR MISSION & VISION</h3>
             <p>We have an excellent crew consisting of 140 Doctors, 1636 including 1371 Nursing and Paramedical staff. Our laboratory was awarded the prestigious accreditation of NABL in 2012 and we are still maintaining the certification.</p>  
              <div class="icon-box">
                <div class="icon"><i class="bx bx-fingerprint"></i></div>
                <h4 class="title"><a href="">High Quality Treatment</a></h4>
                <p class="description">To provide high quality, low-cost treatment to the whole community especially the underprivileged patients.</p>
              </div>
  
              <div class="icon-box">
                <div class="icon"><i class="bx bx-gift"></i></div>
                <h4 class="title"><a href="">Highest Quality Clinical Care</a></h4>
                <p class="description">To provide the highest quality clinical care at nominal cost.</p>
              </div>
  
              <div class="icon-box">
                <div class="icon"><i class="bx bx-atom"></i></div>
                <h4 class="title"><a href="">Patient Satisfaction</a></h4>
                <p class="description">To achieve the highest level of patient satisfaction.</p>
              </div>
  
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->
      {% endblock %}